.cities-container {
  height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden !important;
    margin-top: 4vh;
}
.eachcity:hover {
  color: blue;
  text-decoration: underline;
}

.eachcity {
  cursor: pointer;
  font-size: 21px;
}
.cities-list-container {
  padding: 2rem;
}
.ml-8 {
  margin-left: 2rem;
}
.select-state {
  border-radius: 11px;
    padding: 3px;
}
body {
  overflow-x: hidden !important;
}
.dropdown {
  padding: 1rem 1rem 1rem 8rem;
}
.card {
  box-shadow: 0px 0px 2px red, 0px 0px 1px blue;
  height: 100vh;
  margin: 0rem 0.5rem;
}
.light-text {
  color: lightgray;
  text-align: center;
  margin-top: 5rem;
  font-size: 20px;
}